


@{
    ViewData["Title"] = "Onlinemagazin";
}

<head>
    <style>
        a {
            color: red;
        }
    </style>
</head>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="~/Images/OnlineMagazin.png" class="img-fluid" alt="Bild" style="height: auto; max-height: 100%; max-width: 100%;" />
        </div>
        <div class="col-md-8">
            <h5 class="text-start">DIE FAUST KULTUR STIFTUNG IST DIE TRÄGERIN DES KULTURPORTALS WWW.FAUST-KULTUR.DE</h5>
            <p class="text-start">
                Faust-Kultur: <a href="http://www.faust-kultur.de" target="_blank">www.faust-kultur.de</a></h5> wurde 2010 als »Weltbühne für Autoren und Künstler« gegründet. In Berichten, Rezensionen, Interviews und Porträts kommen literarische, künstlerische und musikalische Themen ebenso zur Sprache wie philosophische, gesellschaftliche und politische Kontroversen. Die inhaltliche Vielfalt einer Kulturzeitschrift wird durch die gestalterischen Möglichkeiten der Online-Technik optimiert. Texte, Fotos, Audiodateien und Videoeinspielungen ergänzen einander oder wirken als eigenständige Kunstformen. Darüber hinaus gewährleistet die regelmäßige Aktualisierung einen stets angemessenen Informationsstand. Ein Archiv gibt den publizierten Inhalten langfristige Präsenz.
                <br /><br />
                Welche Themen behandelt und welche Beiträge aufgenommen werden, entscheidet die Redaktion.
            </p>
        </div>
    </div>
    <div>
        <br /><br />
        <p class="text-start"><b>DIE FREIE MITARBEIT DER AUTORINNEN UND AUTOREN UND DIE SPENDEN VIELER LESERINNEN UND LESER SORGEN FÜR DEN ERHALT DES PORTALS.</b></p>
        <br /><br />
        <p class="text-start">
            Sie können die Arbeit von Faust-Kultur mit einer einmaligen <a href="/Kontakt">Spende</a> oder auch regelmäßig mit einem festen Betrag unterstützen.
            <br /><br />
            Jede Spende ist steuerlich absetzbar. Die Faust Kultur Stiftung stellt Ihnen hierfür gerne eine Spendenquittung aus.
            <br /><br />
            <b>Jeder Cent wird Qualität!</b>
        </p>
    </div>
</div>