@{
    ViewData["Title"] = "ProjektFoerderer";
}

<head>
    <style>
        a{
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text-start fst-italic">
            <p style="color: darkred"><b>Wir danken unseren Partnern, Förderern und privaten Spendern für das Mitwirken am Zustandekommen unserer vielfältigen Projekte sowie an der Weiterentwicklung des Onlinemagazins Faust-Kultur.</b></p>
        </div>

    </div>
</body>