@{
    ViewData["Title"] = "Kontakt";
}

<head>
    <style>
        a {
            color: red;
        }
    </style>
</head>

<body>
    
    <div class="container">
        <div class="text-start">
            <p><b>Wir hoffen, dass zahlreiche Kulturinteressierte zur Weiterentwicklung des Kulturportals beitragen werden oder ausgewählte Projekte unserer Stiftung mit ihrer Spende unterstützen.</b></p>
            <br /><br />
            <p style="color: darkred"><b>UNSERE KONTOVERBINDUNG:</b></p>
            <br />
            <p>Nassauische Sparkasse 0159 042 00 1</p>
            <p>Kontoinhaber: <b>Faust-Kultur-Stiftung</b></p>
            <br />
            <p>BLZ: 51050015</p>
            <p>IBAN: DE89 5105 0015 0159 0420 01</p>
            <p>BIC NASSDE55XXX</p>
            <p class="fst-italic">Wir versichern Ihnen, dass Ihre Daten vertraulich behandelt werden.</p>
            <p class ="fst-italic">(Bitte geben Sie Namen und Adresse in der Betreffzeile der Überweisung an, wenn eine Spendenquittung übersandt werden soll.)</p>
            <br />
            <p><b>Herzlichen Dank!</b></p>
            <br /><br />
            <p><b>Nicole Thamm</b></p>
            <p>Kontakt: <a href="mailto:ulla.bayerl@faustkulturstiftung.de">thamm@faustkulturstiftung.de</a></p>
            


        </div>


    </div>
</body>