@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<head>
    <style>
        /* Definieren Sie den Fokus-Stil für .form-control */
        .form-control:focus {
            outline: 2px solid red; /* Setzen Sie die Farbe der Umrandung auf rot */
            box-shadow: 0 0 0 0.25rem pink; /* Optional: Hinzufügen eines Schattens */
        }

        a {
            color: red;
        }

        .btn-custom {
            background-color: black;
            color: white;
            transition: background-color 0.3s ease;
        }

            .btn-custom:hover {
                background-color: red;
                color: white;
            }
    </style>
</head>

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-custom">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
