<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FK_Stiftung</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FK_Stiftung.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        :root {
            --text-color: #000000;
            --background-color: #ffffff;
        }

        [data-bs-theme="dark"] {
            --text-color: #ffffff;
            --background-color: #333333;
        }

        body {
            color: var(--text-color);
            background-color: var(--background-color);
            transition: color 0.3s ease, background-color 0.3s ease;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .nav-link {
            color: var(--text-color);
            transition: color 0.3s ease;
        }

            .nav-link:hover {
                color: red;
            }

        .page-title {
            text-align: center;
            padding: 20px 0;
            margin: 0 auto;
            font-size: 80px;
            font-weight: bold;
            font-family: 'Arial Narrow', Arial, sans-serif;
            cursor: pointer;
            position: relative;
            display: inline-block;
        }

            .page-title::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #ff0000;
                transform-origin: bottom left;
                transform: scaleX(0);
                transition: transform 0.5s ease;
            }

            .page-title:hover::before {
                transform-origin: bottom right;
                transform: scaleX(1);
            }

        .navbar {
            justify-content: center;
        }

        .login-register {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 10px;
        }

            

        .footer {
            background-color: var--(backgroundcolor);
            text-align: center;
            padding: 10px 0;
            border-top: 1px solid var(--text-color);
        }

        .footer-link {
            color: var(--text-color);
            text-decoration: none;
            transition: color 0.3s ease;
            margin: 0 10px;
        }

            .footer-link:hover {
                color: red;
            }

        #darkModeToggle {
            position: fixed;
            bottom: 60px;
            right: 20px;
            z-index: 1000;
            background: none;
            border: none;
            font-size: 24px;
            color: var(--text-color);
            cursor: pointer;
        }

        main {
            margin-bottom: 60px; /* Adjust based on your footer height */
        }
    </style>
</head>
<body>
    <header>                              
        <div class="text-center">
            <h1 class="page-title" onclick="location.href='@Url.Action("Index", "Home")'">FAUST KULTUR STIFTUNG</h1>
        </div>
        <nav class="navbar navbar-expand-sm navbar-expand-lg navbar-light bg-body-tertiatry border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="#navbarColor04"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center" id="navbarColor04">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Onlinemagazin" asp-action="Index">Onlinemagazin Faust-Kultur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Project" asp-action="Index">Projekte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Stiftungsziele" asp-action="Index">Stiftungsziele</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ProjektFoerderer" asp-action="Index">Projekt & Förderer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Kontakt" asp-action="Index">Kontakt</a>
                        </li>
                    </ul>
                    <partial name ="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer bg-body-tertiatry text-muted">
        <a href="" class="footer-link" style="position: absolute; left: 0;">&copy; 2024 - Leon Oet, Mo und Gurwinder</a>
        <a href="/Home/Impressum/" class="footer-link">Impressum</a> |
        <a href="/Home/Privacy" class="footer-link">Datenschutz</a> | 
        <a href="/Kontakt/Index" class="footer-link">Kontakt</a> | 
        <a href="/Home/Index" class="footer-link">Faust-Kultur</a>
        <a href="https://www.facebook.com/faustkulturde"><i class="fab fa-facebook" style="position: absolute; right: 100px;"></i></a>
        <a href="https://www.instagram.com/faustkultur/"><i class="fab fa-instagram" style="position: absolute; right: 130px;"></i></a>
        <a href="https://x.com/faustkultur"><i class="fab fa-twitter" style="position: absolute; right: 157px;"></i></a>
    </footer>
    <button id="darkModeToggle" aria-label="Toggle Dark Mode">
        <i class="fas fa-moon"></i>
    </button>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById('darkModeToggle').addEventListener('click', function () {
            document.documentElement.setAttribute('data-bs-theme',
                document.documentElement.getAttribute('data-bs-theme') === 'dark' ? 'light' : 'dark');
            this.querySelector('i').classList.toggle('fa-moon');
            this.querySelector('i').classList.toggle('fa-sun');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>