@{
    ViewData["Title"] = "Impressum";
}

<div class="impressum-content">
    <h3><b>Impressum</b></h3>
    <p>Inhaber der Seite ist die gemeinnützige</p>
    <p><b>Faust Kultur Stiftung</b></p>
    <p>Bergesgrundweg 3</p>
    <p>60599 Frankfurt am Main</p>
    <p>Telefon: 069 / 71047110-0</p>
    <p>Telefax: 069 / 71047110-9</p>
    <p>Mail: <a href="mailto:redaktion@faust-kultur.de">kontakt@faustkulturstiftung.de</a></p>
    <p>Web: <a href="http://www.faust-kultur.de/">www.faustkulturstiftung.de</a></p>
    <p>Inhaber der Seite ist die gemeinnützige Faust Kultur Stiftung in der Trägerschaft der</p>
    <p>Faust-Kultur GmbH</p>
    <p>Geschäftsführung der GmbH: Dr. Michele Sciurba</p>
    <p>Handelsregister Frankfurt HRB 92574</p>
    <p>Steuer Nr.: 045 255 02256</p>
    <br /><br />
    <p class="fst-italic">Geschäftsleiterin der Faust Kultur Stiftung: Nicole Thamm</p>
    <br /><br />
    <p>© Alle Texte und Filme auf dieser Seite sowie das Konzept und die Gestaltung unterliegen dem Urheberrecht.</p>
    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
    <br /><br />
    <p><b>Technische Betreuung und Advertising:</b></p>
    <a href="http://www.voxl.de/">VOXL</a>
    <br />
</div>

<style>
    .impressum-content {
        text-align: start;
    }

        .impressum-content a {
            color: red;
        }
</style>